.login-wrapping {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding-top: 30px;
    max-width: 450px;
    min-height: 420px;
    position: relative;
    background-color: #343a40;
    /*background: rgba(40,57,101,.9);*/
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.label-fontcolor{
    color: #fdfdfe;

}
.rememberme{
    padding-left: 5px;
}
.signup-wrapping {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding-top: 30px;
    max-width: 450px;
    min-height: 700px;
    position: relative;
    background-color: #343a40;
    /*background: rgba(40,57,101,.9);*/
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}