<!DOCTYPE html>
<html>
<head>
    <title>Business registration</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>


<div class="container">
    <h1>Business Registration Form</h1>
<form>

    <div class="col-sm-9">
        <label   >Business Name:</label>
        <input type="text" style="border-radius: 20px" class="form-control" required="true"></input>
    </div>
    <br>
    <div class="col-sm-9">
        <label   >Business Location:</label>
        <input type="text" style="border-radius: 20px" class="form-control" required="true"></input>
    </div>
    <br>
    <div class="col-sm-9">
        <label >Business Email:</label>
        <input type="text" style="border-radius: 20px" class="form-control" required="true"></input>
    </div>
    <br>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Business Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Automobiles</a>
            <a class="dropdown-item" href="#">Entertainment</a>
            <a class="dropdown-item" href="#">Real Estate</a>
            <a class="dropdown-item" href="#">Food processing</a>
        </div>
    </div>

</form>
</div>
<script src="../static/js/bootstrap.min.js"></script>
<script  src="../static/js/bootstrap.bundle.min.js"></script>
<script  src="../static/js/bootstrap.min.js"></script>
</body>
</html>